<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit List</title>
</head>
<body>
    <h2>Edit your List</h2>
    <p>List id: <%=list.id %></p>
    <p>title: @<%= list.title %></p>
    <form method="post"  action="/lists/<%=list.id%>?_method=PATCH">
        <textarea rows="10" cols="30" name="content"><%= list.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>