<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New List</title>
</head>
<body>
    <form method="post" action="/lists">
        <input placeholder="enter the title" name="title"/><br>
        <br>
        <textarea placeholder="enter the description" name="description"></textarea>
        <br>
        <button>Submit List</button>
    </form>
</body>
</html>