<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2>Show the List in Details</h2>
    <p>List id:<%=list.id %></p>
    <div class="lists">

        <h3 class="title">><%=list.title %></h3>
        <h4 class="description"><%= list.description %></h4>
        
    </div>
</body>
</html>
